<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="styles/reveal.min.css">
    <link rel="stylesheet" href="styles/theme/<%= template %>.css" id="theme">
      
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/monokai_sublime.css">  
    
    <style>
      .reveal pre {padding: 1rem; background-color: #272822; }
    </style>    
      
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <%- content %>
      </div>
    </div>
    
    <script type="text/javascript" src="lib/js/head.min.js"></script>
    <script type="text/javascript" src="scripts/reveal.min.js"></script>
    <script>

      Reveal.initialize({
          controls: true,
          progress: true,
          history: false,
          center: true,
          previewLinks: false,
          touch: true,
          slideNumber: false,
          keyboard: true,
          overview: true,
      
          theme: Reveal.getQueryHash().theme, // available themes are in /styles/theme
          transition: Reveal.getQueryHash().transition || 'default'         

      });
      
 
      
      
    </script>
  </body>
</html>