<!DOCTYPE html>

<html>
  <head>
    <title>Deckdown</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/pure-min.css">
    <link rel="stylesheet" href="styles/grids-responsive-min.css">
    <link rel="stylesheet" href="styles/styles.css" type='text/css'>
    <style></style>
  </head>
  <body>
    <h1>ID: <%- id %></h1>
    <h2>Mode: <%- mode %></h2>
  </body>
</html>