<!DOCTYPE html>

<html>
  <head>
    <title>Deckdown</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/pure-min.css">
    <link rel="stylesheet" href="styles/grids-responsive-min.css">
    <link rel="stylesheet" href="styles/styles.css" type='text/css'>
    <style></style>
  </head>
  <body>
    <div class="page">
      <div class="hero">
        <div class="main">
          <h1>Deckdown</h1>
          <p>Deckdown is a totally new way to build a slide deck. You write markdown, and deckdown gives you a presentation.</p><p><strong>No BS. Or JS. Or HTML.</strong></p>
        </div>
        <div class="tryit pure-g">
          <form action="/deck" method="post" class="pure-form pure-u-1 pure-u-md-11-24">
            <fieldset class="md-form">
              <h3>Type some markdown</h3>
              <textarea name="markdown" class="markdown pure-u-1"></textarea>
              <button type="submit" class="pure-button pure-button-primary">Create Deck</button>
            </fieldset>
          </form>
          <div class="pure-u-1 pure-u-md-1-12 separator"><h3>-or-</h3></div>
          <form action="/deck" method="get" class="pure-form pure-u-1 pure-u-md-11-24">
            <fieldset>
              <h3>Specify a markdown file's url</h3>
              <input type="text" name="src" placeholder="any public url that points to a valid markdown file" class="pure-input-1" value="https://raw.githubusercontent.com/alanguir/deckdown/master/deckdownis.md"/>
              <button type="submit" class="pure-button pure-button-primary">Create Deck</button>
            </fieldset>
          </form>
          
        </div>
      </div>
      <div class="content">
        <%- content %>
      </div> 
    </div>
  </body>
</html>